<!-- 1 Fragmento con formulario unificado para agregar y modificar categoría -->
<section th:fragment="formulario">
    
</section>

<!-- fragmento 2 para el listado de categorias -->
<section th:fragment="listado" class="p-3">
    <div class="row p-3">
        <div class="col-md-9">
            <div class="card p-2">
                <div class="card-header"><h4>[[#{categoria.listado}]]</h4></div>
                <div class="card-body">
                    <div th:if="${categorias != null and !categorias.empty}">
                        <table class="table table-striped table-hover">
                            <thead><tr><th>#</th>
                                    <th>[[#{categoria.descripcion}]]</th>
                                    <th>[[#{categoria.imagen}]]</th>
                                    <th>[[#{categoria.activo}]]</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="c : ${categorias}">
                                    <td>[[${c.idCategoria}]]</td>
                                    <td>[[${c.descripcion}]]</td>
                                    <td><img th:if="${c.rutaImagen != null}" th:src="${c.rutaImagen}" alt="Imagen de categoría" height="75"/></td>
                                    <td th:text="${c.activo} ? #{categoria.estado.activa} : #{categoria.estado.inactiva}"></td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal"
                                                th:data-bs-id="${c.idCategoria}" th:data-bs-descripcion="${c.descripcion}">
                                            <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                                        </button>                                           
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#categoriaModal"
                                                data-modo="editar" th:data-titulo="#{accion.actualizar}" th:data-id="${c.idCategoria}" 
                                                th:data-descripcion="${c.descripcion}" th:data-activo="${c.activo}"
                                                th:data-imagen="${c.rutaImagen != null ? c.rutaImagen : ''}">
                                            <i class="fas fa-pencil-alt"></i> [[#{accion.actualizar}]]
                                        </button>                                             
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${categorias == null or categorias.empty}">
                        <span>[[#{lista.vacia}]]</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center bg-success text-white mb-3">
                <div class="card-body"><h3>[[#{categoria.total}]]</h3>
                    <h4 class="fs-2"><i class="fas fa-layer-group"></i> [[${totalCategorias}]]</h4>
                </div>
            </div>
        </div>
    </div>
</section>
